# LaTeX
*.pdf
*.log
*.aux
*.files
*.fdb_latexmk
*.synctex.gz
*.fls


# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Projet de test
testproj/mymake/test/a.c
testproj/mymake/test/a.h
testproj/mymake/test/b.c
testproj/mymake/test/b.h
testproj/mymake/test/c.c
testproj/mymake/test/c.h
testproj/mymake/test/d.c
testproj/mymake/test/d.h
testproj/mymake/test/main.c
